#main{
margin-left:24%;
}
aside#logo {
background-color: transparent;
}
aside#logo {
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
}
aside#logo div {
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
}
aside#logo div a {
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
background: url(/images/tuban_logo.png) center center no-repeat;
}